<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpMock" version="1.2.0" targetFramework="net452" />
  <package id="Kayak" version="0.7.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.0.8-ctp-8" targetFramework="net45" />
  <package id="NUnitLite" version="3.0.1" targetFramework="net45" />
</packages>